.master-avatar {
    border-radius: 50%;
}

.photo-size-77 { width: 77px; height: 77px; }
.photo-size-75 { width: 75px; height: 75px; }
.photo-size-56 { width: 56px; height: 56px; }
.photo-size-53 { width: 53px; height: 53px; }
.photo-size-128-200 { width: 128.34px; height: 200px; }