.button {
    display: block;
}
a:hover{
    color: #F5908E;
}
.rules-link {
    color: #ffffff;
    text-decoration: underline!important
}
.rules-link:hover {
    color: #ffffff
}
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    padding: 0!important;
}

@media (max-width: 330.98px) {
    .screen-one__block-find-master {
        margin: 15px 0;
        font-size: 19px;
        line-height: 30px;
    }
}
@media (max-width: 375.98px) and (min-width: 331px){
    .screen-one__block-find-master {
        margin: 20px 0;
        font-size: 22.3px;
        line-height: 30px;
    }
}
@media (max-width: 514.98px) and (min-width: 376px){
    .screen-one__block-find-master {
        margin: 20px 0;
        font-size: 1.55em;
        line-height: 1.4em;
    }
}
@media (max-width: 514.98px) and (min-width: 376px){
    .screen-one__block-fetched-user-full-name {
        font-size: 1.58em;
        line-height: 1.5em;
    }
}
@media (max-width: 330.98px) {
    .screen-one__block-fetched-user-full-name {
        font-size: 19px;
        line-height: 20px;
    }
}

@media  (min-width: 514.98px){
    .screen-one__block-fetched-user-full-name {
        font-size: 1.8em;
        line-height: 1.2em;
        margin-bottom: 25px;
    }
    .screen-one__block-customer-type {
        font-size: 1.8em;
        line-height: 1.2em;
    }
    .screen-one__block-find-master {
        margin: 20px 0;
        font-size: 1.8em;
        line-height: 1.4em;
    }
}
